*.code-workspace
*.csv
*.jl.*.cov
*.jl.cov
*.jl.mem
*.jld2
*.svg
*.tsv
*.txt
*.tiff
*.shp
*.shx
*.dbf
*.prj
.DS_Store
/docs/Manifest*.toml
/docs/Manifest.toml
/docs/build/
Manifest.toml
docs/build/
tmp/
simulated-*
test.*
# pixi environments
.pixi/*
!.pixi/config.toml
